
  
  .swiper {
    max-width: 600px;

    max-height: 80px;
    margin-right:80px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    border-radius: 50%;
    border: 1px solid red;
    padding: 2px;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 10px;
  }